celery
python-dotenv
transformers
numpy
# opencv-python
opencv-python-headless
pillow
pathlib
scikit-image
requests
redis
pydantic
openai
google-generativeai
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cu126