celery
python-dotenv
transformers>=4.51.1
numpy
boto3
minio
sqlalchemy
psycopg2-binary
# opencv-python
opencv-python-headless
pillow>=11.0.0
pathlib
scikit-image
requests
redis
pydantic
openai
google-generativeai
google-genai
torch>=2.7.0
torchvision
--extra-index-url https://download.pytorch.org/whl/cu126
sentence-transformers
jieba
rank_bm25
pgvector
accelerate>=1.10.0