fastapi>=0.100.0
uvicorn[standard]
pydantic>=2.0.0
pydantic[email]>=2.0.0
sqlalchemy[asyncio]
uuid-utils
asyncpg
pyjwt
passlib==1.7.4
bcrypt==4.0.1
python-multipart
celery==5.5.3
redis==6.4.0
httpx
boto3
minio
google-generativeai
pytz
numpy
pgvector