logLevel: info

# 停用 HLS
hls: no

# RTSP 配置（使用內部端口）
rtspAddress: :8554 # 內部端口

# WebRTC 配置
webrtc: yes
webrtcAddress: :8889 # 內部端口
# 對外 IP 或域名
webrtcAdditionalHosts: [192.168.191.20]
webrtcAllowOrigin: "*"
# 關閉 WebRTC 加密
webrtcEncryption: no
# WebRTC ICE UDP 端口配置
webrtcLocalUDPAddress: :30205
# 增加 WebRTC 連接超時時間
webrtcHandshakeTimeout: 90s  # 增加握手超時時間
webrtcIPsFromInterfaces: no   # 避免回傳 127.0.0.1/172.18.x.x 這類內網候選，降低 ICE 選錯的機率

# 設定 API Server 的 HTTP 認證
authMethod: http
authHTTPAddress: http://api:30000/api/v1/m2m/check-stream-pwd?api-key=78gKSEhxXLmQqepclQOLWJssQtMSZa9PchBikri-BTWJ6KP8l36_G0O23OR3Fm6p
authHTTPExclude:
  - action: api
  - action: metrics
  - action: pprof

# 啟用 metrics
metrics: yes
metricsAddress: :9998

paths:
  all:
    source: publisher